.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: static;
	z-index: -1;
}


.animation_layer {
	background-position: bottom center;
  background-size: auto 780px;
  margin-top: -250px ;
	background-repeat: repeat-x;
	width: 100%;
	position: relative;
}

.animation_layer.parallax {
	position: fixed;
}

.artboard{
  background-image: url('./Images/artboard.png');
}
.forest_1{
  background-image: url('./Images/forest_1.png');
}
.forest_2{
  background-image: url('./Images/forest_2.png');
}
.ground_1{
  background-image: url('./Images/ground_1.png');
}
.ground_2{
  background-image: url('./Images/ground_2.png');
}
.mountain_1{
  background-image: url('./Images/mountain_1.png');
}
.mountain_2{
  background-image: url('./Images/mountain_2.png');
}
.mountain_3{
  background-image: url('./Images/mountain_3.png');
}
.traveller{
  background-image: url('./Images/traveller.png');
}


#navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  /* Other styles go here */
}

#navbar.sticky {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  /* Other sticky styles go here */
}
