@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Righteous',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroller {
  height: 10.5em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: auto;
  
}

.scroller > span {
  position: absolute;
  top: -1.2em;
  animation: slide 5s infinite;
  font-weight: bold;
  
} 
@keyframes slide {
  0% {
    top: -1.4em;
  }
  25% {
    top: -6em;
  }
  50% {
    top: -10.6em;
  }
}

@viewport {
  width: 800px;
  zoom: 0.9;
  min-zoom: 0.85;
  max-zoom: 2;
  initial-scale: 1;
  user-scalable: yes;
}

@media (max-width: 767px) {
  .scroller {
    height: 13.2em;
    line-height: -3em;
    position: relative;
    overflow: hidden;
    width: auto;
  }
  .scroller > span {
    position: absolute;
    top: -1.5em;
    animation: slide 5s infinite;
    font-weight: bold;
  }
  @keyframes slide {
    0% {
      top: -1.5em;
    }
    25% {
      top: -7.7em;
    }
    50% {
      top: -13.2em;
    }
  }
}




/*Custom Scrollber*/
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #380E29;
  border-radius: 0.5rem;
}
        
