.nav__item{
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.accentbutton{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 10%;
  height: 8vh;
  backdrop-filter: blur(20px);
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 1.5rem;
  height: 0.15rem;
  margin: 0.4rem;
  background: blue;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 100%;
    width: 70vw;
    background: rgb(0, 33, 65);
    opacity: 0.5;
    backdrop-filter: blur(500px);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav__brand{}
}
/* Active Class */
.nav__active {
  transform: translateX(0%);

}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 4px);
  height: 0.15rem;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-8px, -8px);
  height: 0.15rem;
}

